# chapter 1
openai
tiktoken
streamlit
langchain
langchain-community
langchain-openai
langchain-core

## chapter 5
# Webサイト要約アプリ用
requests
beautifulsoup4
langchain_text_splitters

# Youtube要約アプリ用
youtube-transcript-api
pytube

# chapter 7
PyMuPDF
faiss-cpu

# chapter 8
langsmith

# chapter 9
duckduckgo_search
html2text
lxml[html_clean]
readability-lxml
